@charset "UTF-8";
/* header模块 */
.header {
  position: relative;
  display: flex;
  width: 100%;
  height: 74px;
  margin-top: 36px;
  line-height: 1.5;
  background: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.04);
}
.header .header-left {
  float: left;
  display: flex;
}
.header .header-left .logo {
  margin-right: 40px;
}
.header .header-left .logo img {
  margin-top: 12px;
  width: 50px;
  height: 50px;
}
.header .header-left h3 {
  height: 100%;
  font-size: 22px;
  font-weight: normal;
  line-height: 74px;
}

/* cart模块 */
.cart {
  background-color: #f5f5f5;
}
.cart .cart-container {
  padding-top: 50px;
}
.cart .cart-container .cart-title {
  display: flex;
  width: 100%;
  padding-left: 40px;
  color: #a4a4a4;
  line-height: 40px;
  background: #fff;
}
.cart .cart-container .cart-title .cart-list {
  display: flex;
}
.cart .cart-container .cart-title .cart-list .pro {
  width: 450px;
  text-align: left;
}
.cart .cart-container .cart-title .cart-list li {
  width: 130px;
  margin-left: 30px;
  text-align: center;
}
.cart .cart-container #cart-form {
  position: relative;
}
.cart .cart-container #cart-form .goods-list {
  position: relative;
  z-index: 10;
  min-height: 200px;
}
.cart .cart-container #cart-form .goods-list li {
  display: flex;
  height: 120px;
  margin-top: 10px;
  padding-left: 40px;
  padding-top: 20px;
  text-align: center;
  background: #fff;
}
.cart .cart-container #cart-form .goods-list li img {
  width: 80px;
  height: 80px;
  margin-right: 30px;
}
.cart .cart-container #cart-form .goods-list li h3 {
  width: 385px;
  height: 80px;
  line-height: 80px;
  text-align: left;
  text-indent: 30px;
}
.cart .cart-container #cart-form .goods-list li p,
.cart .cart-container #cart-form .goods-list li span,
.cart .cart-container #cart-form .goods-list li i,
.cart .cart-container #cart-form .goods-list li em {
  width: 160px;
  height: 80px;
  font-size: 16px;
  line-height: 80px;
}
.cart .cart-container #cart-form .goods-list li span {
  display: inline-block;
  padding-left: 33px;
  padding-top: 29px;
}
.cart .cart-container #cart-form .goods-list li span b {
  float: left;
  width: 22px;
  height: 22px;
  text-align: center;
  line-height: 18px;
  border: 2px solid #ccc;
  cursor: pointer;
}
.cart .cart-container #cart-form .goods-list li span h4 {
  float: left;
  width: 50px;
  height: 22px;
  line-height: 22px;
  font-weight: normal;
  text-align: center;
  background-color: transparent;
}
.cart .cart-container #cart-form .goods-list li i {
  color: crimson;
}
.cart .cart-container #cart-form .goods-list li em {
  cursor: pointer;
}
.cart .cart-container #cart-form .msg {
  position: absolute;
  z-index: 1;
  width: 1200px;
  height: 200px;
  line-height: 200px;
  font-size: 28px;
  text-align: center;
}
.cart .cart-container .cart-total {
  height: 60px;
  margin-top: 10px;
  background: #fff;
}
.cart .cart-container .cart-total .cart-price {
  float: right;
  font-size: 16px;
  line-height: 60px;
  margin-right: 20px;
}
.cart .cart-container .cart-total .cart-price i {
  color: crimson;
}
.cart .cart-container .cart-total .cart-price span {
  color: crimson;
  font-size: 20px;
}
.cart .cart-container .cart-total .settle {
  float: right;
  width: 200px;
  height: 60px;
  color: #fff;
  font-size: 18px;
  line-height: 60px;
  background: #fa2a2d;
  text-align: center;
  cursor: pointer;
}
.cart .cart-container .hr {
  height: 50px;
  background-color: transparent;
}/*# sourceMappingURL=cart.css.map */