/* header模块 */
.header {
  overflow: hidden;
  position: relative;
  display: flex;
  // min-width: 1200px;
  width: 100%;
  height: 74px;
  margin-top: 36px;
  line-height: 1.5;
  background: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.04);
  .header-left {
    float: left;
    display: flex;
    .logo {
      margin-right: 40px;
      img {
        width: 80px;
        height: 80px;
      }
    }
    .nav {
      a {
        color: #000;
        font-size: 16px;
        width: 80px;
        height: 74px;
        line-height: 74px;
      }
      /* 下拉菜单内容 */
      .nav-list {
        display: flex;
        .nav-container {
          display: none;
          overflow: hidden;
          position: absolute;
          top: 74px;
          left: 50%;
          z-index: 100;
          width: 100%;
          height: 230px;
          padding: 0 8%;
          transform: translateX(-50%);
          .nav-ul {
            display: flex;
            justify-content: space-around;
            width: 100%;
            height: 100%;
            margin: 0 auto;
            /* 下拉菜单 分隔线 */
            & li:not(:first-child)::before {
              position: absolute;
              left: 0;
              top: 35px;
              z-index: 10;
              width: 1px;
              height: 100px;
              background-color: #e0e0e0;
              content: "";
            }
            /* 下拉菜单 商品 */
            li {
              position: relative;
              width: 204px;
              padding: 35px 12px 0;
              text-align: center;
              a {
                color: #757575;
                font-size: 12px;
                .nav-img {
                  width: 180px;
                  height: 110px;
                  margin: 0 auto 16px;
                  text-align: center;
                  img {
                    width: 160px;
                    height: 110px;
                  }
                }
                .nav-title {
                  width: 180px;
                  margin: 0;
                  color: #333;
                  line-height: 20px;
                }
                .nav-price {
                  width: 180px;
                  margin: 0;
                  line-height: 20px;
                  color: var(--themeColor_1);
                }
              }
            }
          }
        }
      }
      /* 下拉菜单背景 */
      .nav-menu {
        overflow: hidden;
        position: absolute;
        top: 74px;
        left: 0;
        z-index: 99;
        width: 100%;
        height: 0;
        background: #fff;
      }
      .boxshadow {
        box-shadow: 0 3px 4px rgba(0, 0, 0, 0.18);
        outline: 1px solid #e0e0e0;
      }
    }
  }
  /* 搜索栏 */
  .header-right {
    float: right;
    .search {
      position: relative;
      width: 240px;
      height: 30px;
      input {
        width: 240px;
        height: 30px;
        margin-top: 22px;
        color: #3a3a3a;
        font-size: 12px;
        line-height: 30px;
        background: #fff;
        border: 1px solid #999;
        border-radius: 16px;
        text-indent: 15px;
      }
      i {
        overflow: hidden;
        position: absolute;
        right: 0;
        top: 22px;
        z-index: 10;
        width: 30px;
        height: 30px;
        font-size: 20px;
        color: #353535;
        cursor: pointer;
      }
    }
  }
}

/* focus模块 */
.focus {
  height: 490px;
  .layout {
    position: relative;
    /* 左边导航栏 */
    .category {
      position: absolute;
      top: 30px;
      left: 0;
      z-index: 20;
      width: 234px;
      height: 460px;
      padding: 20px 0;
      font-size: 14px;
      background: rgba(105, 101, 101, 0.6);
      .category-list {
        li {
          background-color: transparent;
          a {
            position: relative;
            height: 42px;
            padding-left: 30px;
            color: #fff;
            line-height: 42px;
            &::after {
              position: absolute;
              top: 12px;
              right: 20px;
              color: #e0e0e0;
              font-size: 20px;
              font-weight: bold;
              line-height: 16px;
              font-family: "iconfont";
              content: "\e65b";
            }
          }
          .category-item {
            display: none;
            position: absolute;
            left: 234px;
            top: 0;
            z-index: 24;
            height: 458px;
            background: #fff;
            border: 1px solid #e0e0e0;
            border-left: 0;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.18);
            .children-list {
              float: left;
              width: 265px;
              height: 458px;
              margin: 0;
              padding: 2px 0;
              li {
                position: relative;
                width: 265px;
                height: 75px;
                a {
                  display: block;
                  width: 100%;
                  height: 100%;
                  padding: 18px 20px;
                  line-height: 40px;
                  color: #333;
                  transition: color 0.2s;
                  &::after {
                    content: "";
                  }
                  img {
                    float: left;
                    width: 40px;
                    height: 40px;
                    margin-right: 12px;
                  }
                  span {
                    float: left;
                    width: 172px;
                    line-height: 40px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                  }
                }
              }
            }
          }
          .children-2 {
            width: 532px;
          }
          .children-3 {
            width: 798px;
          }
          .children-4 {
            width: 1064px;
          }
        }
      }
    }
    /* 右边轮播图 */
    .swiper {
      /* swiper父盒子 */
      position: relative;
      top: 30px;
      left: 0;
      width: 1226px;
      height: 100%;
      .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        text-align: center;
        background: #fff;
        .swiper-slide img {
          display: block;
          width: 1226px;
          height: 460px;
          object-fit: cover;
        }
      }
      .prev {
        margin-left: 235px;
      }
    }
  }
}

/* banner模块 */
.banner {
  .layout {
    width: 1226px;
    padding-top: 20px;
    padding-bottom: 20px;
    transform: translateX(15px);
    .banner-left {
      float: left;
      width: 234px;
    }
    .banner-right {
      float: left;
      width: 992px;
      padding-left: 14px;
      .banner-list {
        li {
          float: left;
          width: 316px;
          height: 170px;
          margin-left: 15px;
          transition: box-shadow 0.2s linear;
        }
        & li:first-child {
          margin-left: 0;
        }
      }
    }
  }
}

/* main模块 */
.main {
  background-color: #f6f6f6;
  .main-hd {
    width: 1226px;
    margin-bottom: 22px;
    padding-top: 22px;
  }
  .main-container {
    padding-bottom: 10px;
    .main-box {
      margin-bottom: 20px;
      .box-hd {
        position: relative;
        h2 {
          font-size: 26px;
          line-height: 36px;
          color: #000;
          font-weight: 500;
          padding: 20px 0;
        }
        .more {
          position: absolute;
          top: 0;
          right: 0;
          a {
            color: #424242;
            font-size: 16px;
            line-height: 76px;
            transition: all 0.4s;
            i {
              font-size: 22px;
              vertical-align: bottom;
            }
          }
        }
      }
      .box-bd {
        display: grid;
        grid-template-columns: repeat(5, 1fr); // 5列,平均分配
        grid-template-rows: repeat(2, 1fr); // 2行,平均分配
        row-gap: 20px; // 行间距
        column-gap: 20px; // 列间距
        width: 100%;
        height: 614px;
        & .goods:first-child {
          // 第一个商品
          a {
            padding: 0;
            img {
              width: 224px;
              height: 614px;
              margin: 0;
            }
          }
        }
        .goods {
          background-color: #fff;
          transition: all 0.2s linear;
          text-align: center;
          a {
            color: #757575;
            img {
              display: block;
              width: 100px;
              height: 130px;
              margin: 30px auto 20px;
            }
            h3 {
              margin: 2px 10px;
              color: #333;
              font-size: 18px;
              /* 文字溢出省略 */
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
            }
            span {
              color: #b0b0b0;
            }
            p {
              margin: 5px 10px 14px;
              color: var(--themeColor_1);
              font-size: 14px;
            }
          }
        }
        & .goods:nth-of-type(1) {
          /* 第1个盒子:上下合并行 */
          grid-row-start: 1;
          grid-row-end: 3;
          /* 从第1根行线合并到第3根行线 */
        }
        .goods-hover {
          /* goods悬浮动画 */
          box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
          transform: translate3d(0, -2px, 0);
        }
      }
    }
  }
  /* 右侧导航栏 */
  .main-leap {
    display: none;
    position: fixed;
    right: 20px;
    top: 50%;
    z-index: 999;
    width: 80px;
    background: #fff;
    transform: translateY(-50%);
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12);
    .c3 {
      color: #333 !important;
    }
    .leap-goods {
      padding-top: 20px;
      .leap-list {
        li {
          position: relative;
          text-align: center;
          a {
            position: relative;
            width: 100%;
            height: 40px;
            color: #999;
            line-height: 40px;
          }
        }
      }
    }
    .leap-sub {
      padding-bottom: 20px;
      a {
        position: relative;
        width: 80px;
        height: 56px;
        padding-bottom: 15px;
        color: #999;
        text-align: center;
        &::before {
          content: "\e63b";
          position: relative;
          display: block;
          margin: 0 auto;
          width: 40px;
          height: 40px;
          font-family: "iconfont";
          font-size: 30px;
        }
      }
      & a:nth-of-type(1)::before {
        content: "\e63b";
      }
      & a:nth-of-type(2)::before {
        content: "\e643";
      }
      & a:nth-of-type(3)::before {
        content: "\e703";
      }
    }
  }
}

/* hot模块 */
.hot {
  width: 100%;
  height: 480px;
  background-color: #f6f6f6;
  .hot-hd {
    h2 {
      color: #000;
      font-size: 26px;
      line-height: 36px;
      font-weight: 500;
      padding-bottom: 20px;
    }
  }
  .hot-container {
    .swiper {
      width: 100%;
      height: 425px;
      .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 380px;
        font-size: 18px;
        text-align: center;
        background: #fff;
        transition: all 0.2s linear;
        a {
          width: 100%;
          .hot-img {
            margin: 0 auto;
            padding-top: 80px;
            padding-bottom: 43px;
            img {
              display: block;
              margin: 0 auto;
              width: 120px;
              height: 120px;
            }
          }
          h3 {
            width: 225px;
            height: 24px;
            margin: 0 auto;
            line-height: 24px;
            font-size: 16px;
            font-weight: normal;
            color: #000;
            letter-spacing: 0;
          }
          span {
            display: block;
            width: 225px;
            height: 16px;
            margin: 0 auto;
            padding-top: 4px;
            color: #999;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 0;
          }
          p {
            height: 26px;
            padding: 30px 0 50px;
            color: #000;
            font-size: 13px;
            line-height: 26px;
            i {
              position: relative;
              bottom: -1px;
              margin-left: 4px;
              font-size: 16px;
              font-weight: bold;
            }
            em {
              color: #999;
              font-size: 12px;
              font-style: normal;
              line-height: 20px;
              text-decoration: line-through;
            }
          }
        }
      }
      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .hot-hover {
        /* hot悬浮动画 */
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
        transform: translate3d(0, -2px, 0);
      }
    }
  }
}
